.docs {

	#main {
		padding-top: 50px;

		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}

	h1,
	h2,
	h3 {
		font-size: 16px;
		color: $violetLight;
		font-family: $fontText;
		font-weight: 800;
	}

	h1,
	h2 {
		font-size: 18px;
	}

	pre {
		@include rounded(0);
		margin-bottom: 1.25rem;
	}

	code {
		border: none;
		font-family: $fontText;
		font-weight: normal;
		padding: 0;
		font-size: 14px;
		text-shadow: none;
	}

	p {

		a {
			color: $violetLight;
		}
	}

	hr {
		margin: 50px 0 0 0;
	}

	.doc-block {
		margin-bottom: 50px;
	}

	.pricing-header {
		text-align: center;
	}

	.table-wrap {
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3NyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI2NhZGI0MSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzAxYmFiYSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzc3KSIgLz4KPC9zdmc+);
		background-size: cover;
		border-radius: 5px;
		margin: 10px 0;
	}
}
