.docs {

	#main {
		padding-top: 50px;

		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}

	h1,
	h2,
	h3 {
		font-size: 16px;
		color: $violetLight;
		font-family: $fontText;
		font-weight: 800;
	}

	h1,
	h2 {
		font-size: 18px;
	}

	pre {
		@include rounded(0);
		margin-bottom: 1.25rem;
	}

	code {
		border: none;
		font-family: $fontText;
		font-weight: normal;
		padding: 0;
		font-size: 14px;
		text-shadow: none;
	}

	p {

		a {
			color: $violetLight;
		}
	}
	
	hr {
		margin: 50px 0 0 0;
	}

	.doc-block {
		margin-bottom: 50px;
	}

	.pricing-header {
		text-align: center;
	}
}