.get-started {
	background: $blackLight;
	text-align: center;
	color: white;
	padding-bottom: 20px;

	@media #{$medium-up} {
		padding-bottom: 40px;
	}

	@media #{$large-up} {
		padding-bottom: 65px;
	}

	h2 {
		color: $turquoiseGradient;
		margin: 0 0 20px 0;
		font-size: rem(28);
		font-weight: 800;
		text-transform: uppercase;

		@media #{$medium-up} {
			margin-bottom: 30px;
		}
	}

	.get-started__sign-up-now {
		display: inline-block;
		height: 40px;
		background: $gradientGreenTurquoise;
		padding: 0;
		line-height: 40px;
		color: black;
		font-size: 14px;
		border: 2px solid $blackLight;
		font-family: $fontRoundedBold;
		text-transform: uppercase;
		position: relative;
		padding: 0 45px;
		margin-bottom: 25px;

		@media #{$medium-up} {
			font-size: 24px;
			height: 50px;
			line-height: 50px;
			width: 490px;	
			margin-bottom: 30px;
		}

		@media #{$large-up} {

		}

		&:before {
			background: $gradientGreenTurquoise;
			width: 100%;
		    content: "";
		    position: absolute;
		    height: 100%;
		    box-sizing: content-box;
		    padding: 4px;
		    top: -4px;
		    left: -4px;
		    z-index: -1;
		}
	}
}
