nav.menu {
	
	ul {
		margin: 0;
		list-style: none;
	}
	
	&.accordion {
		
		> ul {
			
		}
		
		> ul {
			
			> li {			
				color: $blueDark;
				
				> a {
					color: $blueDark;
					
					@media #{$large-up} {
						font-size: 20px;			
					}
				}
				
				@media #{$small-only} {
					position: relative; // Set context for Social Networks menu on Footer
					line-height: 40px;		
				}
				
				&:before {
					content: "> ";
					position: absolute;
					left: .9375rem;
					top: 0;
					width: 10px;
				}
				
				> nav.white {
					
					@media #{$small-only} {
						display: none;			
					}
					
					color: white;
					font-family: $fontText;					
					
					a {
						color: white;
					}
					
					ul {
						padding: 20px 0 0 0;
						font-size: .8rem;
						
						li {
							@media #{$large-up} {
								font-size: 16px;		
							}
						}
					}
				}
			}	
		}
		
		@media #{$medium-up} {
			
			> ul {
				
				> li {
					position: relative;
					
					&:before {
						content: "";	
						background-color: $violetLight;
						height: 2px;
						width: 24px;
						top: -2px;
					}
				}
			}			
		}
		
		.accordion-menu-toggle {
			
			@media #{$small-only} {
				display: block;
			    float: left;
			    width: 100%;
			    padding-left: 10px;			
			}
		}
	}
}








nav.menu {
	font-family: $fontRoundedBold;
	
	> ul > li {
			
		a {
			
		}
		
		nav {
			margin: 0;
			font-weight: 400;
			font-family: $fontText;
			text-transform: none!important;
		}
		
		ul {
			margin: 0;
		}
	}
	
	&.vertical {
		
		> ul {
			
			> li {
				
				&:before {
					content: "> ";
				}
			}	
		}
	}
	
	&.horizontal {
		
		> ul > li {
			display: inline-block;
			
			&:after {
				content: " •";
			}
			
			&:last-child {
				
				&:after {
					content: "";
				}
			}
		}
	}
	
	&.button-group {
		
		> ul > li {
			
			&:after {
				content: "";
			}
		}
	}
	
	&.violet-light {
		
		a {
			@extend .violet-light;
		}
	}
	
	&.blue-dark {
		
		a {
			@extend .blue-dark;
		}
	}
	
	&.white {
		
		a {
			@extend .white;
		}
	}
}